* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}


body {
	background: #f5f7fa;
	color: #333;
}

header {
	background: #14b8a6;
	padding: 15px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	z-index: 10;
}


.title {
	font-size: 26px;
	color: white;
	font-weight: bold;
}


nav ul {
	list-style: none;
	display: flex;
	gap: 25px;
}


nav a {
	color: white;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
	transition: 0.2s;
}


nav a:hover {
	opacity: 0.8;
}


/* Section formatting */
section {
	padding: 60px 80px;
}

h2 {
	margin-bottom: 20px;
	font-size: 30px;
	color: #0f766e;
}


p {
	font-size: 18px;
	line-height: 1.6;
	max-width: 800px;
}

.projects-holder {
	display: flex;
	gap: 20px;
}

.card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	transition: transform 0.2s;
	width: 300px;
}

.card:hover {
	transform: translateY(-5px);
}


.project-img {
	width: 100%;
}

.container {
	padding: 16px;
}

form {
	display: flex;
	flex-direction: column;
	width: 350px;
	gap: 15px;
}


input, textarea {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #bbb;
	font-size: 15px;
}


button {
	padding: 12px;
	background: #14b8a6;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s;
}


button:hover {
	background: #0d9488;
}

footer {
	text-align: center;
	padding: 20px;
	background: #0f766e;
	color: white;
	margin-top: 40px;
}